<form (ngSubmit)="f.form.valid && createCar()" #carForm="ngForm" name="form" #f="ngForm" novalidate>
  <div>
    <label for="model">Modelo:</label>
    <input type="text" id="model" name="name" required [(ngModel)]="car.model"  #model="ngModel">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="model.errors && f.submitted"
    >
      El modelo del carro es requerido!
    </div>
  </div>
  <div>
    <label for="brand">Marca:</label>
    <input type="text" id="brand" name="brand" required [(ngModel)]="car.brand"  #brand="ngModel">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="brand.errors && f.submitted"
    >
      La marca del carro es requerida!
    </div>
  </div>

  <div class="form-group">
    <label>Fecha de fabricación:</label>
    <input type="date" id="manufacturingDate" name="manufacturingDate" required [(ngModel)]="car.manufacturingDate"
           #manufacturingDate="ngModel">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="manufacturingDate.errors && f.submitted"
    >
      La fecha es requerida!
    </div>
  </div>
  <div class="form-group"><button type="submit" [disabled]="!carForm.form.valid" class="btn btn-primary btn-block">Agregar carro</button></div>

  <div class="form-group">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && isErrorSave"
    >
      Guardado fallido: {{ errorMessage }}
    </div>
  </div>
  <div class="form-group">
    <div
      class="success"
      role="success"
      *ngIf="f.submitted && !isErrorSave"
    >
      {{ successMessage }}
    </div>
  </div>
</form>
<app-list-car (carUpdate)="updateCar($event)"></app-list-car>
